
.iconos
{
cursor:pointer;
top: 70px; left: 90px;
position: absolute;
cursor: pointer;
display: block;
color: rgba(0, 0, 0, 1);
overflow:hidden;
}

/*FOTO INGRESADA EN UN RECLAMO */

.item {
      position: relative;
      width: 180px;
      overflow: hidden;
}
 
.item {
      background-color: #357ebd;
      height: 172px;
}
                                           
.item a {
      text-decoration: none;
      color: #000;
}
                   
.item-billboard, .item-detail {
      height: 172px;
}
                   
.item-billboard {
      margin-top: 0;
      background:#18bc9c;
}
 
.item-billboard h3 {
      font-size: 13px;
      font-weight: bold;
      color: #262626;
      font-family: 'Open Sans',arial,sans-serif;
      text-align:right;
      color:blue;
      margin-top:10px;
}
                   
.item-detail {
      height:172px;
      background: #18bc9c;
      font-family:verdana;
}

