.loguearse
{
	margin-left:1em; 
	margin-top: .9em;
	margin-bottom:1em; 

}
.regi
{
	margin-top: .9em;
	margin-bottom:1em; 

}

.recuadro_registro_login
{


	background-color:#101010;
	border-radius:1em;
}