#selectorSectores
{
background-color: #18bc9c;
}

#Parrafo
{
 border-radius:1em;
 padding:.1em;
 background-color:rgba(24,188,156,.4);
}

.button-Mi-Estilo
{
	 background-color:#18bc9c;

}
.panelInformativo
{
	 background-color:#18bc9c;

}